.tab-wrapper {
  &__header {
    display: flex;
    align-items: center;
    span {
      display: block;
      padding: 8px 15px;
      cursor: pointer;

      &.active {
        background-color: #fff;
        border-bottom: 1px solid #000000;
        border-radius: 10px 10px 0px 0px;
      }
    }
  }
  .tab {
    display: none;

    &.active {
      display: block;
    }
  }
}
